@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');


$main-bg-color: #3498DB;
$font-family: 'Open Sans', sans-serif;

body {
	background-color: $main-bg-color;
	font-family: $font-family;
	color: white;
	margin-bottom: 20px;
}

.input-list{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	ul{ 
		padding: 0; 
		width: 70%;
		margin: 0 auto;
	}

	button {
	    font-family: sans-serif;
	    margin: 20px;
	    width: 30%;
	    padding: 6px;
	    background: #2ecc71;
	    border: none;
	    border-radius: 10px;
	    font-size: 17px;
	    cursor: pointer;

	    .results-button{
	    	color: white;
	    	text-decoration: none;
	    }
	}

	.git-icon{
		padding: 10px;
		/*color: #2ecc71;*/
	}

	.main-guide{
		font-family: Montserrat;
		font-size: 25px;
	}

	::-webkit-input-placeholder { color: #fbe7e7; opacity: 0.5; }
	:-moz-placeholder { color: #bfdef3; opacity: 0.5; } /* Firefox 18- */
	::-moz-placeholder { color: #bfdef3; opacity: 0.5; } /* Firefox 19+ */
	:-ms-input-placeholder { color: #bfdef3; opacity: 0.5; }

}

.search-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.searchbox{
	background-color: transparent;
	color: white;
	width: 20vw;
	border: none;
	border-bottom: 2px solid white;
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 5px;
}


.user-profile{
	margin-top: 30px;
}

.card-container {
	height: 420px;
	border-radius: 4px;
}

@mixin container-style{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
	
}

.card {
	@include container-style

	.cover{
	    height: 105px;
	    overflow: hidden;
	    border-radius: 4px 4px 0 0;

	    img{
		    width: 100%;
		}
	}

    .name{
	    font-size: 22px;
	    line-height: 28px;
	    margin: 10px 0 0;
	    text-align: center;
	    text-transform: capitalize;
    }

    .location{
	    color: #999999;
	    text-align: center;
	    margin-bottom: 20px;
	}

	.content{
	    background-color: rgba(0, 0, 0, 0);
	    box-shadow: none;
	    padding: 10px 20px 20px;
		
		.main {
		    min-height: 160px;
		}
	}


	.user{
	    border-radius: 50%;
	    height: 120px;
	    margin: -55px auto 0;
	    overflow: hidden;
	    width: 120px;

	    img{
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 4px solid #FFFFFF;
		    width: 100%;
		}
	}
}

.repos {
	@include container-style
	padding: 10px;

	.repos-title{
		font-family: Montserrat, 'Open Sans', sans-serif;
		margin-top: 0px;
		margin-bottom: 20px;
		margin-left: 15px;
	}

	.repo-search{
	    width: 30%;
	    position: absolute;
	    top: 10px;
	    right: 15px;
	}

	.row{
		margin-bottom: 10px;
	}

	.repo {
		@include container-style

		position: relative;
		height: 100px;
		margin-bottom: 10px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		
		.name{
			margin-top: 10px;
			font-family: Montserrat, 'Open Sans', sans-serif;
		}

		.stars{
			position: absolute;
			bottom: 10px;
			color: #34495e;
		}

		.language{
			position: absolute;
			bottom: 10px;
			right: 15px;
			color: #2ecc71;
		}
	}

	hr{
		width: 100%;
	    border: 0;
	    height: 1px;
	    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
	}

	.display-control-button{
		text-align: center;
		cursor: pointer;

		.fa{
			padding: 5px;
		}
	}
}



